#exportPattern("^[[:alpha:]]+")
useDynLib(Ckmeans.1d.dp)
export(Ckmeans.1d.dp)
export(print.Ckmeans.1d.dp)
export(ahist)
export(plot.Ckmeans.1d.dp)
S3method(print, Ckmeans.1d.dp)
S3method(plot, Ckmeans.1d.dp)
